body{
    background-color: #FAF8DA;
}

.header{
    font-size: 35px;
    font-family: sans-serif;
    color: #205d76;
    text-align: center;
}
.headerimg{
    width: 660px;
    display:  flex;
    margin-left: auto;
    margin-right: auto;    
 
}
.Sections {
    display: auto   ; 
    display: -webkit-flex; 
    margin: 50px auto; 
    width: 450px; 
}
.texto{
    margin-left: 30px;
}

.images{  
    width: 150px;
    display:  flex;
    margin-left: auto;
    margin-right: auto;
}
/*list*/
.names{
    font-family: sans-serif;
    color: #205d76;
    padding: px; 

}
.footer{
    font-size: 20px;
    text-align: center;
    color: white;
    background-color:#FFC122;
    padding: 2px;
}
.bulletlist{
    font-family: sans-serif;
    color: #FFC122;
    font-size: 20px;
}
.links{
    margin-bottom: 15px;
    color: #EA6E2F;

}