.container
{
	width: 1128px;
	height: 1178px;
	position: relative;
    margin-left: auto;
    margin-right: auto;
}

body
{
	font-family: Roboto;

}

nav
{
	display: block;
}

li
{
    display: inline-block;
	color: #999;
	margin-left: 10px;
	padding: 2px;
	
}

a
{
	color: #999;
	text-decoration: none;
}

ul
{
	text-align: right;
}

.caixa
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 480px;
	margin-top: 46.53px;
}

.banner
{
	margin-bottom: 35px;
	background-image: url(../img/banner.jpg);
	height: 445.46px;
	margin-left: -5px;
}

section
{
	padding: 8px;
	margin-left: -13px;
	display: flex;
}

h1
{
	margin-left: 28px;
	color: white;
}

.footer
{
	color: black;
    margin-top: 170px;
}

img
{
	width: 264px;
    padding-right: 25px;
    
}

p
{
	color: black;
}

article p 
{
	text-align: left;
 
}

section p
{
	padding: 6px;
}

