body{
    font-family: 'Roboto';   
}
.container{
    width: 1178px;
    height: 1128px;
}

a{
    text-decoration: aliceblue;
    
}
    .article{
        width: 264px;
        height: 213px;
        padding: 2px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
}
li{
    list-style: none right;
    display: inline-block;
}

.caixa{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 480px;
    height: 214px;
    color:white;    
    margin-top: 50px;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}
.banner{
    background-image: url(/Estudos/WebDesenvolvimento/Aula4/img/banner.jpg);
    background-size: absolute;
    width: 1128px;
    height: 445px;
}
.footer{
    align-items: left;
}