


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAF8DA;
  margin: 0;
}
/* Como inserir um fonte do diretorio
@font-face{
  font-family: Brokenbrush;
  src:url('../fontes/Brokenbrush.ttf');
}
h1{
  font-family: 'Brokenbrush', sans-serif;
}
*/

header {
   text-align: center;
}

h1{
  font-size: 70px;
  color: #205d76;
}

.header{
  width: 650px
}

/*Section*/

article{
  display: flex ;
  margin: 50px auto;
  width: 450px;
}

.article{
  width: 200px;
}


div{
  margin-left: 30px;
}

h2{
  font-size: 30px;
  color: #205d76;
}

ul{
  color: #ffc122;
  padding-left: 15px;
}

li{
  margin-bottom: 10px;
}

a{
  color: #EA6E2F;
  font-size: 20px;
}

footer{
  background-color: #ffc122;
  text-align: center;
  padding: 2px;
}

p{
  color: #ffffff
}

