/*CSS site Tuts Town*/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;

}
.profile-image {
	border: 10px solid #f3ca12;
	border-radius: 50%;
	height: 10em;
	width: 10em;
	object-fit: cover;
	margin-left: 50px;
}


.bar-up {
	display: flex;
	width: 100%;
	height: 8em;
	background-color: #222121fb;
	border-bottom: 10px solid #f3ca12;
	position: fixed;
	top: 0;
	left: 0;
}

/* Bar left Experiencia */
.bar-side {
	padding-top: 5em;
	display: flex;
	color: black;
	width: 360px;
	height: 20em;
	border-right: 10px solid #f3ca12;
	background: #222121fb;
}

/* Bar left Experiencia */
.bar-side-1 {
	margin-top: 5em;
	font-size: 30px;
	padding-left: 2em;
	color: white;
	display: flex;
}

/* Bar left Competencias */
.bar-side-2 {
	margin-top: 5em;
	font-size: 30px;
	padding-left: 2em;
	color: white;
	display: flex;

}

/* Bar left hobbies */
.bar-side-3 {
	margin-top: 5em;
	font-size: 30px;
	padding-left: 2em;
	color: white;
	display: flex;



}


/* Bar main Experiencias */
.bar-main {
	width: 1000px;
	height: 280px;
	margin-left: 50px;
	margin-top: 10px;
	background-color: white;

	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

}

/* Bar main Competencias */
.bar-main-1 {
	width: 1000px;
	height: 280px;
	margin-left: 30px;
	margin-top: 10px;
	background-color: white;
	;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

}

/* Bar main Hobbies */
.bar-main-2 {
	width: 1000px;
	height: 280px;
	margin-left: 110px;
	margin-top: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

}

.text-bar {
	padding: 2px;
	margin-left: 30px;
	color: black;
	list-style-type: square;

}

.text-bar-3 a {
	float: left;
	display: block;
	font-size: 1em;
	padding-left: 0.2%;
	margin-right: 7%;
	color: black;
	font-family: open sans;
	font-weight: bold;
	text-shadow: rgba(255, 254, 254, 0.4) 0px 5px 15px;



}

.spotify {
	width: 52px;
	height: 52px;
}

.netflix {
	width: 52px;
	height: 52px;
}

.ball {
	width: 52px;
	height: 52px;
}

/*Hobbies content  */
.text-bar-1 {
	margin-left: 5px;
	color: black;
	line-height: 0.1%;
	/*altura entre linhas*/
	list-style-type: none;
	float: center;

}

.in-image {
	width: 70px;
	float: right;
	border-bottom: 210px solid #006699;

}

.bar-side-3 {
	margin-top: 5em;
	font-size: 30px;
	padding-left: 2em;
	color: white;
	display: flex;



}

.typing-demo {
	color: #fff;
	width: 30ch;
	animation: typing 1s steps(22), blink .50s step-end infinite alternate;
	white-space: nowrap;
	padding-left: 1.6em;
	overflow: hidden;
	font-size: 2em;
	border-right: 12px solid #f3ca12;
	background: #222121fb;
	font-size: 3em;



}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}

.typing-demo-title {
	color: #fff;
	width: 28ch;
	animation: typing 3s steps(22), blink .50s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-size: 2em;


}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}


.bar-side-footer-1 {
	padding-top: 5em;
	display: flex;
	color: black;
	width: 360px;
	height0px;
	border-right: 10px solid #f3ca12;
	background: #222121fb;
}


.img-class-1 {
	border-radius: 50%;
	height: 15em;
	width: 15em;
	object-fit: cover;
	margin-left: 1em;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

a {
	color: black;
	font-size: 15px;
	margin-left: 30px;
}

.img-classes {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

}

.text-bar-2 {

	float: left;
	display: flex;


}
.bar-side-5 {
	padding-top: 14em;
	color: white;


}

.git {
	border-radius: 20%;
	height: 3em;
	width: 3em;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

footer {
	background: #222121fb;
	font-size: 1em;
	width: 100%;
	color: white;
	text-align: right;
	padding: 5px;
	border-right: 38.6em  solid #f3ca12 ;

}