.wrapper {
	height: 100vh;
	/*This part is important for centering*/
	display: flex;
	align-items: center;
	justify-content: center;
	
  }
  
  .typing-demo {
	
	background-color: rgb(89, 89, 90);
	padding: 40px;
	border: 5px solid black;
	width: 22ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	border-right: 3px solid black;
	font-family: monospace;
	font-size: 2em;
	color: white;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }